<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tea Therapy</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Waterfall&display=swap" rel="stylesheet">
  
<link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <div class="split-bg">

    <div class="layout">
      <header class="header">

        <div class="header__logo-container">
          <a href="/en/" class="header__logo-link">
            <img class="logo" src="/images/IQNPwq01.svg" alt="Tea Therapy Logo">
          </a>

          <nav class="header-navigation">
            <!-- Main menu toggle -->
            <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
            <label for="menu-checkbox" class="menu__toggler">☰</label>

            <ul class="header-navigation__list">
              <li class="header-navigation__tabs">
                <a class="header-navigation__button" href="/en/about">About</a>
              </li>

              <li class="header-navigation__tabs">
                <a class="header-navigation__button" href="/en/howIwork.html">How I Work</a>
              </li>

              <!--
              <li class="header-navigation__tabs">
                <a class="header-navigation__button" href="/en/therapy">Therapy</a>
              </li>
              -->

              <li class="header-navigation__tabs">
                <a class="header-navigation__button" href="/en/contact">Contact</a>
              </li>

              <li class="header-navigation__tabs">
                <a class="header-navigation__button" href="/en/reservations.html">Book a Session</a>
              </li>
            </ul>
          </nav>
        </div>

        <div class="language-switcher">
          <a href="/en/">EN</a> | <a href="/cs/">CZ</a>
        </div>

      </header>

      <main class="main-content">
        {{ content | safe }}
      </main>

      <div class="footer-copyright">
        <a class="footer-copyright__creator" href="mailto:olga@yamato.cz" target="_blank">
          Created by Smart Panda
        </a>
        <p class="footer-copyright__pavla">
          &copy; 2025, Mgr. &amp; Mgr. Pavlína Říhová
        </p>
      </div>

    </div>
  </div>

</body>
</html>